@model website.Models.sınıflar.admin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="">
<head>
    <title>Complication Insure</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/insre/admn/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/insre/admn/login/css/main.css">
    <!--===============================================================================================-->
    <link href="~/insre/admn/login/css/util.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/insre/css/fonts.css">

</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/insre/admn/login/images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Admin Yeni Şifre
                </span>
                @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "login100-form  p-b-33 p-t-5" }))
                {
                    <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adını Giriniz">
                        <input class="input100" type="text" id="user" name="Kullanici" placeholder="Kullanıcı Adı" value="admin" required>
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Şifreyi Giriniz">
                        @Html.TextBoxFor(x => x.sifre, new { @class = "input100", @placeholder = "Yeni Şifre", @onkeypress = "", @required = "required", @type = "password" })
                        <input type="password" id="pswrd" class="input100" placeholder="Tekrar Şifre" required />
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        <span class=" focus-input100 text-danger text-center" style="font-size:12px;" id="hata_psw"></span>

                    </div>
                    <span class="input100" style="text-align:right; font-size:14px;">Şifreyi Göster <i id="showPass" class="fa fa-eye"></i></span>
                    <span class="text-danger text-center" style="font-size:11px;">    @Html.ValidationSummary()</span>

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" id="kytbtn" onclick="" type="submit">
                            Güncelle
                        </button>
                    </div>

                }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/insre/admn/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/admn/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/admn/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/insre/admn/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/admn/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/admn/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/insre/admn/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/admn/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/admn/login/js/main.js"></script>
    <script>
        $(document).ready(function () {
            // değiştir göz ikonuna tıklandığında
            $("#showPass").click(function () {
                // eğer type niteliği password ise
                if ($("#sifre").attr("type") == "password") {
                    // type niteliğini text olarak değiştir
                    $("#sifre").attr("type", "text");
                }
                // password değil text ise
                else {
                    // type niteliğini password olarak değiştir
                    $("#sifre").attr("type", "password");
                }
                if ($("#pswrd").attr("type") == "password") {
                    // type niteliğini text olarak değiştir
                    $("#pswrd").attr("type", "text");
                }
                // password değil text ise
                else {
                    // type niteliğini password olarak değiştir
                    $("#pswrd").attr("type", "password");
                }

            });
        });
    </script>

    <script>

        function validatepsw(param, param2, error) {
            var psw = param.val();
            var psw2 = param2.val();
            var check = true;
            error.html("");
            error.addClass("gizli");
            if (psw == "") {
                check = false;
                error.html('<i class="fas fa-exclamation-circle"></i> Şifre alanı boş bırakılamaz');
                document.getElementById("kytbtn").setAttribute("disabled", '');
                error.removeClass("gizli");
            }
            else if (psw2 != psw) {
                check = false;
                error.html('<i class="fas fa-exclamation-circle"></i> Şifreler benzeşmiyor!');
                document.getElementById("kytbtn").setAttribute("disabled", '');

                error.removeClass("gizli");
            }
            else {
                error.addClass("gizli");
                document.getElementById("kytbtn").removeAttribute("disabled", '');
                check = true;
            }
            return check;
        }


        $("#pswrd").on("keyup", function () {
            validatepsw($("#pswrd"), $("#sifre"), $("#hata_psw"), 'Şifre alanı boş olamaz!', '');
        });
        $("#sifre").on("keyup", function () {
            validatepsw($("#pswrd"), $("#sifre"), $("#hata_psw"), 'Şifre alanı boş olamaz!', '');
        });

    </script>



</body>
</html>