@model List<website.Models.sınıflar.signup>
<div class="rd-navbar-element">
    @if (User.Identity.IsAuthenticated)
    {

        if (User.IsInRole("admin"))
        {<a class="btn btn-success btn-sm" href="/Buy/Index">Satın Al</a>

            <a class="button button-sm button-header button-winona" href="/Admin/Index"> @User.Identity.Name</a>

        }
        else
        { <a class="btn btn-success btn-sm" href="/Buy/Index">Satın Al</a>

          <a class="button button-sm button-header button-winona" href="/SignUp/KestigimPoliceler/@User.Identity.Name">
              @foreach (var x in Model)
              {
                  if (User.Identity.Name == x.psprtno)
                  {
                      <p>@x.name @x.sname</p>
                  }

              }
                  </a>
        }

    }
    else
    {
        <a class="btn btn-success btn-sm" href="/Buy/Index">Satın Al</a>
        <a class="button button-sm button-header button-winona" href="/SignUp/Login">Giriş Yap</a>

    }





</div>